<!-- include header -->
<%-include('include/_header')%>
<!-- /include header -->

 <!-- Main Site -->
 <main id="site-main">
    <div class="container">
       <div class="box-nav d-flex justify-between">
           <div class="filter">
               <a href="/dashboard"><i class="fas fa-angle-double-left"></i> All Links</a>
           </div>
       </div>
        <div class="form-title text-center">
            <h2 class="text-dark">New Link</h2>
            <span class="text-light">Use the below form to create a new link</span>
        </div>

      <!-- add user form -->
      <%-include('include/_form')%>
    </div>
</main>
<!-- /Main Site -->


<!-- include footer -->
<%-include('include/_footer')%>
<!-- /include footer -->