<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/style.css">
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous"> -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    
</head>
<body>
     <!-- Header -->
      <header id="header">
          <nav>
              <div class="container">
                  <div class="text-center">
                      <a href="#" class="nav-brand text-dark">Dashboard</a>
                      <a href="/logout" class="border-shadow" style="float: right;">
                        <span class="text-gradient">Logout <i class="fas fa-sign-out-alt"></i></span>
                      </a>    
                  </div>
                  <div>
                      <a> <%=myusername%> </a>
                      <a style="float: right;"> <%=myemail%> </a>
                  </div>
              </div>
          </nav>
      </header>
     <!-- /Header -->

     <!-- Main Site -->
 <main id="site-main">
    <div class="container">
       <div class="box-nav d-flex justify-between">
           <div class="filter">
               <a href="/dashboard"><i class="fas fa-angle-double-left"></i> All Link</a>
           </div>
       </div>
        <div class="form-title text-center">
            <h2 class="text-dark">Apperance</h2>
            <span class="text-light">Use the below form to edit the info</span>
        </div>

      <!-- add user form -->
       <!-- form handling -->
 <form action="/profilephoto" class="update_user" method="POST" id="appearance_form" enctype="multipart/form-data">
    <div class="new_user">
        
        <div class="avatar-wrapper">
            <img class="profile-pic" src="" />
            <div class="upload-button">
                <i class="fa fa-arrow-circle-up" aria-hidden="true"></i>
            </div>
            <input id="profilepic" class="file-upload" name="file" type="file" accept="image/*"/>
        </div>
        

        <div class="form-group">
            <label for="profileTitle" class="text-light">Profile Title</label>
            
            <input type="text" name="title" value="" placeholder="Socail/Business/Creator/..">
        </div>
        <div class="form-group">
           <label for="bio" class="text-light">Bio</label><br>
           <textarea   name="bio" placeholder="Enter a bio description to appear on your profile"  ></textarea>
       </div>
       
       <div class="form-group">
        <label for="theme" class="text-light">Theme</label>
        <select name="theme" id="theme">
          <option value="default">Default</option>
          <option value="dark">Dark</option>
          <option value="Theme3">Theme3</option>
          <option value="Theme4">Theme4</option>
          <option value="Theme5">Theme5</option>
        </select>
       </div>
      
       <div class="form-group">
           <button type="submit" class="btn text-dark update">Save</button>
       </div>
    </div>   
   </form>
    </div>
</main>
<!-- /Main Site -->
<script>

    $("#appearance_form").submit((event)=>{
        event.preventDefault();
        
        let myForm = document.getElementById('appearance_form');
        let formData = new FormData(myForm);

        // var files = $("#profilepic")[0].files;
        // formData.append('file',files[0]);

        for (let [name,value] of formData) {
            console.log(`${name} = ${value}`);
        }


        $.ajax({
              url: '/dashboard/api/profile',
              type: 'put',
              data: formData,
              contentType: false,
              processData: false,
              success: function(response){
                  console.log(response);
                //  if(response != 0){
                //      console.log('success');
                //  }else{
                //     alert('Something went wrong!');
                //  }
              },
           });
    });

</script>

<!-- include footer -->
<%-include('include/_footer')%>
<!-- /include footer -->