<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/style.css">
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous"> -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    
</head>
<body>
     <!-- Header -->
      <header id="header">
          <nav>
              <div class="container">
                  <div class="text-center">
                      <a href="#" class="nav-brand text-dark">Dashboard</a>
                      <a href="/logout" class="border-shadow" style="float: right;">
                        <span class="text-gradient">Logout <i class="fas fa-sign-out-alt"></i></span>
                      </a>    
                  </div>
                  <div>
                      <a href="/<%=myusername%>" target="_blank"> <%=myusername%> </a>
                      <a style="float: right;"> <%=myemail%> </a>
                  </div>
              </div>
          </nav>
      </header>
     <!-- /Header -->

     <!-- Main Site -->
 <main id="site-main">
    <div class="container">
       <div class="box-nav d-flex justify-between">
           <div class="filter">
               <a href="/dashboard"><i class="fas fa-angle-double-left"></i> All Link</a>
           </div>
       </div>
        <div class="form-title text-center">
            <h2 class="text-dark">Appearance</h2>
            <span class="text-light">Use the below form to edit the info</span>
        </div>

      <!-- add user form -->
       <!-- form handling -->
 <form action="/profilephoto" class="update_user" method="POST" id="appearance_form" enctype="multipart/form-data">
    <div class="new_user">
        
        <div class="avatar-wrapper">
            <img id="profilePhoto" class="profile-pic" src="" style="object-fit: cover;" />
            <div class="upload-button">
                <i class="fa fa-arrow-circle-up" aria-hidden="true"></i>
            </div>
            <input id="profilepic" class="file-upload" name="file" type="file" accept="image/*"/>
        </div>
        

        <div class="form-group">
            <label for="profileTitle" class="text-light">Profile Title</label>
            
            <input id="profileTitle" type="text" name="title" value="" placeholder="Social/Business/Creator/..">
        </div>
        <div class="form-group">
           <label for="bio" class="text-light">Bio</label><br>
           <textarea id="profileBio"  name="bio" placeholder="Enter a bio description to appear on your profile"  ></textarea>
       </div>
       
       <div class="form-group">
        <label for="theme" class="text-light">Theme</label>
        <select name="theme" id="profileTheme">
          <option value="default">Default</option>
          <option value="dark">Dark</option>
          <option value="wave">Wave</option>
          <option value="purple">Purple</option>
          <option value="hexagonal">Hexagonal</option>
          <option value="bluedot">BlueDot</option>
          <option value="purpledot">PurpleDot</option>
          <option value="shapes">Shapes</option>
          <option value="snow">Snow</option>
          <option value="moon">Moon</option>
          <option value="soundwave">SoundWave</option>
          <option value="abstractpaper">AbstractPaper</option>
          <option value="stockmarket">StockMarket</option>
          <option value="worldmapindia">WorldMap-India</option>
          <option value="sprinkle">Sprinkle</option>
          <option value="meteor">Meteor</option>
          <option value="masscircles">MassCircles</option>
          <option value="animatedshape">AnimatedShape</option>
        </select>
        <a class="modal-open btn">Change theme</a>
       </div>

       <!-- Theme Select Dialog Box -->
       <div class="modal hidden">
        <div class="modal-rect">
            <div class="modal-close">
                <a>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="#000000" viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" class="close-icon">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                    </svg>
                </a>
            </div>
            <div class="modal-title">
                <h2>Choose Theme</h2>
            </div>
            <div class="theme-parent">
                <div class="theme-row">
                    <div class="theme-card default">
                        <div class="theme-img" style="background-color: #008080;">IMG</div>
                        <p class="theme-name">Default</p>
                    </div>
                    <div class="theme-card dark">
                        <div class="theme-img" style="background-color: #000000; color: white;">IMG</div>
                        <p class="theme-name">Dark</p>
                    </div>
                    <div class="theme-card wave">
                        <div class="theme-img" style="background-color: #0E2A47; color: white;">IMG</div>
                        <p class="theme-name">Wave</p>
                    </div>
                    <div class="theme-card purple">
                        <div class="theme-img" style="background-color: #2511B6; color: white;">IMG</div>
                        <p class="theme-name">Purple</p>
                    </div>
                    <div class="theme-card hexagonal">
                        <div class="theme-img" style="background-color: #074D96; color: white;">IMG</div>
                        <p class="theme-name">Hexagonal</p>
                    </div>
                </div>
                <div class="theme-row purp">
                    <div class="theme-card bluedot">
                        <div class="theme-img" style="background-color: #9CA3E6;">IMG</div>
                        <p class="theme-name">BlueDot</p>
                    </div>
                    <div class="theme-card purpledot">
                        <div class="theme-img" style="background-color: #8782E4;">IMG</div>
                        <p class="theme-name">PurpleDot</p>
                    </div>
                    <div class="theme-card shapes">
                        <div class="theme-img" style="background-color: #3D3BC1; color: white;">IMG</div>
                        <p class="theme-name">Shapes</p>
                    </div>
                    <div class="theme-card snow">
                        <div class="theme-img" style="background-color: #24588E; color: white;">IMG</div>
                        <p class="theme-name">Snow</p>
                    </div>
                    <div class="theme-card moon">
                        <div class="theme-img" style="background-color: #32325D; color: white;">IMG</div>
                        <p class="theme-name">Moon</p>
                    </div>
                </div>
                <div class="theme-row">
                    <div class="theme-card soundwave">
                        <div class="theme-img" style="background-color: #043D83; color: white;">IMG</div>
                        <p class="theme-name">Soundwave</p>
                    </div>
                    <div class="theme-card abstractpaper">
                        <div class="theme-img" style="background-color: #2E409E; color: white;">IMG</div>
                        <p class="theme-name">Abstractpaper</p>
                    </div>
                    <div class="theme-card stockmarket">
                        <div class="theme-img" style="background-color: #0E2A47; color: white;">IMG</div>
                        <p class="theme-name">StockMarket</p>
                    </div>
                    <div class="theme-card worldmapindia">
                        <div class="theme-img" style="background-color: #0E2A47; color: white;">IMG</div>
                        <p class="theme-name">WorldMap-India</p>
                    </div>
                    <div class="theme-card sprinkle">
                        <div class="theme-img" style="background-color: #0E2A47; color: white;">IMG</div>
                        <p class="theme-name">Sprinkle</p>
                    </div>
                </div>
                <div class="theme-row">
                    <div class="theme-card masscircles">
                        <div class="theme-img" style="background-color: #0E2A47 ; color: #9BA3E6;">IMG</div>
                        <p class="theme-name">MassCircles</p>
                    </div>
                    <div class="theme-card animatedshape">
                        <div class="theme-img" style="background-color: #0E2A47; color: #9AA2E5;">IMG</div>
                        <p class="theme-name">AnimatedShape</p>
                    </div>
                </div>
            </div>
            <div class="theme-submit-parent">
                <a class="theme-submit">Done</a>
            </div>
        </div>
       </div>
      
       <div class="form-group">
           <button type="submit" class="btn text-dark update">Save</button>
       </div>
    </div>   
   </form>
    </div>
</main>
<!-- /Main Site -->
<script>

    $(document).ready(function() {
        $.get('/dashboard/api/profile',(data,status)=>{
            if(status==='success')
            {
                $("#profilePhoto").attr("src",`/api/public/profile/photo/${data.photo}`);
                $("#profileTitle").val(data.title);
                $("#profileBio").val(data.bio);
                $("#profileTheme").val(data.theme);

            }
            else
            {
                // alert("Error Fetching Data! Try Again");
                swal("Oops!", "Error Fetching Data! Try Again", "info");
                location.reload();
            }
            console.log(data);
            // Set active theme on page-load
            $("."+data.theme).addClass("active-theme");
            console.log(status);
        });
    });

    $("#appearance_form").submit((event)=>{
        event.preventDefault();
        
        let myForm = document.getElementById('appearance_form');
        let formData = new FormData(myForm);

        // var files = $("#profilepic")[0].files;
        // formData.append('file',files[0]);

        for (let [name,value] of formData) {
            console.log(`${name} = ${value}`);
        }


        $.ajax({
              url: '/dashboard/api/profile',
              type: 'put',
              data: formData,
              contentType: false,
              processData: false,
              success: function(response){
                 if(response != 0){
                     console.log('success');
                    //  alert("Profile Saved!");
                    swal("Good job!", "Profile Saved!", "success");
                 }else{
                    // alert('Something went wrong!');
                    swal("Error!", "Something Went Wrong!", "info");
                 }
              },
           }).fail(()=>{
            //    alert("Something went wrong! Try Again Later");
            swal("Error!", "Something went wrong! Try Again Later", "info");
           })
    });

    const toggleModal = () => {
        document.querySelector('.modal').classList.toggle('hidden');
    }

    const setTheme = (themeName) => {
        const selecttheme = document.querySelector('#profileTheme');
        selecttheme.value = themeName;

        // Set active Theme on button click
        const themeArray = document.getElementsByClassName("theme-card");
        // set all themes as inactive first
        for(i=0; i<themeArray.length; i++){
            themeArray[i].classList.remove("active-theme");
        }
        // Set border on active theme onClick
        const activeTheme = document.getElementsByClassName(themeName);
        activeTheme[0].classList.add("active-theme");
    }

    // Toggle Dialog Box
    document.querySelector('.modal-open').addEventListener('click', toggleModal);
    document.querySelector('.theme-submit').addEventListener('click', toggleModal);
    document.querySelector('.modal-close').addEventListener('click', toggleModal);

    // Theme setting
    document.querySelector('.default').addEventListener('click', function(){setTheme('default')})
    document.querySelector('.dark').addEventListener('click', function(){setTheme('dark')})
    document.querySelector('.wave').addEventListener('click', function(){setTheme('wave')})
    document.querySelector('.purple').addEventListener('click', function(){setTheme('purple')})
    document.querySelector('.hexagonal').addEventListener('click', function(){setTheme('hexagonal')})
    document.querySelector('.bluedot').addEventListener('click', function(){setTheme('bluedot')})
    document.querySelector('.purpledot').addEventListener('click', function(){setTheme('purpledot')})
    document.querySelector('.shapes').addEventListener('click', function(){setTheme('shapes')})
    document.querySelector('.snow').addEventListener('click', function(){setTheme('snow')})
    document.querySelector('.moon').addEventListener('click', function(){setTheme('moon')})
    document.querySelector('.soundwave').addEventListener('click', function(){setTheme('soundwave')})
    document.querySelector('.abstractpaper').addEventListener('click', function(){setTheme('abstractpaper')})
    document.querySelector('.stockmarket').addEventListener('click', function(){setTheme('stockmarket')})
    document.querySelector('.worldmapindia').addEventListener('click', function(){setTheme('worldmapindia')})
    document.querySelector('.sprinkle').addEventListener('click', function(){setTheme('sprinkle')})
    document.querySelector('.masscircles').addEventListener('click', function(){setTheme('masscircles')})
    document.querySelector('.animatedshape').addEventListener('click', function(){setTheme('animatedshape')})

</script>

<!-- include footer -->
<%-include('include/_footer')%>
<!-- /include footer -->