<!doctype html>
<html lang="en">

  - title = "Home"
  include partials/header.pug

  <body class="text-center">
    <form class="form-signin">
      <img class="mb-4" src="images/logo.svg" alt="" width="72" height="72">
      <h1 class="h3 mb-3 font-weight-normal">HOME</h1>
      <button class="btn btn-lg btn-primary btn-block" onclick="window.location.href='/login'" type="button">Login</button>
      <button class="btn btn-lg btn-danger btn-block" onclick="window.location.href='/signup'" type="button">Register</button>
      <p class="mt-5 mb-3 text-muted">&copy; 2021</p>
    </form>
  </body>
</html>
