<!doctype html>
<html lang="en">

  - title = "Login"
  include partials/header.pug

  <body class="text-center">
    <form id="loginform" class="form-signin">
      <svg width=325px id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 361.19 137.36"><defs><style>.cls-1{fill:#a6b1b7;}.cls-2{fill:#f90;}.cls-3{fill:#1877f2;}.cls-4{fill:#f35022;}.cls-5{isolation:isolate;font-size:50.22px;font-family:Dubai-Bold, Dubai;font-weight:700;}.cls-6{letter-spacing:-0.01em;}.cls-7{letter-spacing:0em;}</style></defs><path class="cls-1" d="M97.1,47.2,66.6,32.9a3.82,3.82,0,0,0-3.3,0L32.8,47.2a3.9,3.9,0,0,0-2.2,3.5,4,4,0,0,0,2.2,3.5L63.3,68.5a4.71,4.71,0,0,0,1.6.4,2.93,2.93,0,0,0,1.6-.4L97,54.2a3.9,3.9,0,0,0,2.2-3.5A3.59,3.59,0,0,0,97.1,47.2ZM65,60.8,43.5,50.7,65,40.6,86.5,50.7Z"/><path class="cls-2" d="M99,63.4a3.84,3.84,0,0,0-5.1-1.8L65,75.1,36.1,61.6a3.82,3.82,0,1,0-3.3,6.9L63.3,82.8a4.71,4.71,0,0,0,1.6.4,2.93,2.93,0,0,0,1.6-.4L97,68.5A3.84,3.84,0,0,0,99,63.4Z"/><path class="cls-3" d="M99,77.7a3.84,3.84,0,0,0-5.1-1.8L65,89.4,36.1,75.9a3.82,3.82,0,1,0-3.3,6.9L63.3,97.1a4.71,4.71,0,0,0,1.6.4,2.93,2.93,0,0,0,1.6-.4L97,82.8A3.84,3.84,0,0,0,99,77.7Z"/><path class="cls-4" d="M99,92a3.84,3.84,0,0,0-5.1-1.8L65,103.7,36.1,90.2a3.82,3.82,0,1,0-3.3,6.9l30.5,14.3a4.71,4.71,0,0,0,1.6.4,2.93,2.93,0,0,0,1.6-.4L97,97.1A3.84,3.84,0,0,0,99,92Z"/><text class="cls-5" transform="translate(118.02 83.86)">Link<tspan class="cls-6" x="92.16" y="0">S</tspan><tspan class="cls-7" x="119.83" y="0">tack</tspan></text></svg>
      <h1 class="h5 mb-3 font-weight-normal">Login</h1>
      <label for="inputEmail" class="sr-only">Username</label>
      <input type="text" id="inputEmail" class="form-control" placeholder="Username" required autofocus>
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
      <div class="checkbox mb-3">
        <label>
          <input id="inputRemeber" type="checkbox" value="remember-me" checked> Remember me
        </label>
      </div>
      a(href="") Forgot Password?
      br
      br
      <button id="loginbutton" class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      <button class="btn btn-lg btn-danger btn-block" onclick="window.location.href='/signup'" type="button">Register</button>
      <p class="mt-5 mb-3 text-muted">&copy; 2021</p>
    </form>
  </body>

  script.
      $("#loginform").submit(function( event ) {
        event.preventDefault();
        
        let usernm_inp = $("#inputEmail").val();
        let passwrd_inp = $("#inputPassword").val();
        let remember_inp = $("#inputRemeber").is(':checked');

        //- console.log(validator.isStrongPassword(passwrd_inp));


        axios.post('/login', {
            username: usernm_inp,
            password: passwrd_inp,
            rememberme: remember_inp
          })
          .then(function (response) {
            console.log(response);
            if(response.data.code === '007')
            {
              window.location.href='/dashboard';
            }
            else
            {
              alert("Incorrect Username or Password");
            }
          })
          .catch(function (error) {
            alert("Something Went Wrong! Try Again Later");
          });
      });
</html>
