<!doctype html>
<html lang="en">

  - title = "Sign Up"
  include partials/header.pug

  <body class="text-center">
    <form class="form-signin">
      <img class="mb-4" src="images/logo.svg" alt="" width="72" height="72">
      <h1 class="h3 mb-3 font-weight-normal">Register</h1>

      <label for="inputUsername" class="sr-only">Email address</label>
      <input type="text" id="inputUsername" class="form-control" placeholder="Username" required autofocus>

      <label for="inputEmail" class="sr-only">Email address</label>
      <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required>
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
      <label for="confirmPassword" class="sr-only">Confirm Password</label>
      <input type="password" id="confirmPassword" class="form-control" placeholder="Confirm Password" required>
      <button class="btn btn-lg btn-danger btn-block" type="submit">Register</button>
      br
      a(href="/login") Already have an account?
      <p class="mt-5 mb-3 text-muted">&copy; 2021</p>
    </form>
  </body>
</html>
