
<script src="/dashboard/js/index.js"></script>
<script src="https://unpkg.com/@popperjs/core@2"></script>
<script src="https://unpkg.com/tippy.js@6"></script>


<script>

    tippy('#subscriptiontype', {
        content: 'Upgrade to Pro Version',
        placement: 'bottom',
        arrow: true
    });

</script>

</body>
</html>