<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/dashboard/css/style.css">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    
</head>
<body>
     <!-- Header -->
      <header id="header">
          <nav>
              <div class="container" style="padding-left: 20px;padding-right: 20px;">
                  <div class="text-center">
                      <a href="/dashboard/" class="nav-brand text-dark">Dashboard</a>
                      <a href="/logout" class="border-shadow" style="float: right;">
                        <span class="text-gradient">Logout <i class="fas fa-sign-out-alt"></i></span>
                      </a>    
                  </div>
                  <div style="padding-top: 10px;">
                      <a href="/<%=myusername%>" target="_blank"> <%=myusername%> </a>
                      <a style="float: right;"> <%=myemail%> </a>
                  </div>
              </div>

              <div class="container" style="padding-top: 10px;padding-right: 20px;">
                <% if(mysubscription=='free') { %>
                    <a href="/dashboard/subscription"><span  id="subscriptiontype" style="float: right;" class="badge badge--info">FREE</span></a>
                <% } else if(mysubscription=='pro') { %>
                    <span style="float: right;" class="badge badge--warning">PRO</span>
                <% } %>
              </div>

              <!-- <br> -->
              <!-- <br> -->
             
          </nav>
      </header>
     <!-- /Header -->